body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#a567f7;
    color:white;
    padding-top: 80px;
}
html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

