@import url('https://fonts.googleapis.com/css2?family=Poppins');
/* variables de los colores */
$colorFondo: #1c8181;
$colorTexto: #ffffff;
$colorBotones:#3fffd6;
$colorFooter: #108da3;
$colorHover: #35D04F;
$colorTextoSecundario: #0000;
$colorFondoSecundario: #1f6b8f;

/* variables de tipografía */
$letraDeMenu: 'Poppins', sans-serif;