@use 'base/variables' as v; 
.hero{
    margin-top:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
}

.hero-text h1{
    font-size:80px;
}

.hero-text span{
    color: v.$colorTexto;
}

.btn-comprar{
    background: v.$colorBotones;
    border:none;
    padding:12px 35px;
    border-radius:30px;
    cursor:pointer;
}

.hero-circle{
    width: 250px;
    height: 250px;
    background: transparent; /* verde */
    border-radius: 50%; /* hace el círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* recorta la imagen */
    margin: auto;
}

.hero-circle img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 30%;
}
