@use 'base/variables' as v;

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;

    background: rgba(12, 18, 53, 0.6);
    backdrop-filter: blur(10px);
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: auto;
}

/* MENÚ */
.menu {
    display: flex;
    gap: 15px; /* 👈 menos separación */
    list-style: none;
    margin: 0;
    padding: 0;
}

/* LINKS */
.menu a {
    text-decoration: none;
    color: white;
    font-family: v.$letraDeMenu;
    font-size: 14px; /* 👈 tamaño controlado */
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
    
}
.menu {
    flex-wrap: wrap;
}

/* LÍNEA ANIMADA */
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #00c853;
    transition: width 0.3s ease;
}

/* HOVER */
.menu a:hover {
    color: #00c853;
}

.menu a:hover::after {
    width: 100%;
}

/* SCROLL EFFECT */
.nav.scrolled {
    background: rgba(12, 18, 53, 0.4);
    backdrop-filter: blur(15px);
}

/* SCROLL SUAVE */
html {
    scroll-behavior: smooth;
}